@use 'colors';

.header {
    padding: 16px 0;
    position: sticky;
    top: 0;
    left: 0;
    background-color: colors.$corDeFundo2;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, .12);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        color: colors.$corDoTexto1;
        font-size: 24px;
        span {
            color: colors.$corDoTexto2;
        }
    }

    &__menu {
        display: flex;
        align-items: center;

        &__item {
            list-style: none;
            padding: 0 16px;

            &__link {
                text-decoration: none;
                color: colors.$corDoTexto1;
                font-weight: bold;
                font-size: 16px;
                transition: all .20s;

                &:hover {
                    color: colors.$corDoTexto2;  
                }

                &--is-active {
                    color: colors.$corDoTexto2;
                }
            }
        }
    }

    .menu-hamburguer {
        display: none;
        height: 40px;
        width: 40px;
        border: 2px solid colors.$corDoTexto1;
        border-radius: 4px;

        &:hover {
            cursor: pointer;
        }
    }
}